/**** VARIABLES ****/
/***** IMPORTS *****/
/********************** RESET ************************/
* {
  margin: 0;
  padding: 0; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/******************* CLEARFIX ************************/
.clearfix:before,
.clearfix:after {
  display: table;
  content: ' '; }

.clearfix:after {
  clear: both; }

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 222;
  background-color: #000;
  color: #fff;
  padding: 1% 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300; }
  header nav {
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /* @media screen and (max-width: 750px) {*/
    /*   height: 100vh;*/
    /*   display: -webkit-box;*/
    /*   display: -ms-flexbox;*/
    /*   display: flex;*/
    /*   -webkit-box-align: center;*/
    /*   -ms-flex-align: center;*/
    /*   align-items: center;*/
    /* }*/ }
    header nav h1 {
      font-family: "Lato", "Arial", sans-serif;
      text-transform: uppercase; }
    header nav ul {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      /* @media screen and (max-width: 750px) {*/
      /*   display: -webkit-box;*/
      /*   display: -ms-flexbox;*/
      /*   display: flex;*/
      /*   -webkit-box-orient: vertical;*/
      /*   -webkit-box-direction: normal;*/
      /*   -ms-flex-direction: column;*/
      /*   flex-direction: column;*/
      /*   text-align: center;*/
      /*   -webkit-box-align: center;*/
      /*   -ms-flex-align: center;*/
      /*   align-items: center;*/
      /*   -webkit-box-pack: justify;*/
      /*   -ms-flex-pack: justify;*/
      /*   justify-content: space-around;*/
      /*   height: 50vh;*/
      /*   width: 100%;*/
      /* }*/ }
    header nav li {
      text-transform: uppercase;
      margin-left: 12%;
      /*     @media screen and (max-width: 750px) {*/
      /*       margin-left: 0;*/
      /* }*/ }
    header nav a {
      color: #fff; }

.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%; }
  .banner .scent-picture {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1.5% 8% 0 0; }
    @media screen and (max-width: 1000px) {
      .banner .scent-picture {
        width: 40%; } }
    @media screen and (max-width: 700px) {
      .banner .scent-picture {
        position: static;
        width: 100%;
        padding: 0 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  @media screen and (max-width: 700px) {
    .banner figure {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .banner img {
    width: 100%; }
    @media screen and (max-width: 700px) {
      .banner img {
        width: 50%; } }
  .banner .scent-picture-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1.5% 0 0 8%; }
    @media screen and (max-width: 1000px) {
      .banner .scent-picture-left {
        width: 40%; } }
    @media screen and (max-width: 700px) {
      .banner .scent-picture-left {
        position: static;
        width: 100%;
        padding: 0 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  @media screen and (max-width: 700px) {
    .banner figure {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .banner img {
    width: 100%; }
    @media screen and (max-width: 700px) {
      .banner img {
        width: 50%; } }

.banner-sauvage {
  background-image: url("../../img-layout/banniere-sauvage-dior.png"); }

.banner-bleu {
  background-image: url("../../img-layout/banniere-bleu-chanel.png"); }

.banner-jadore {
  background-image: url("../../img-layout/banniere-jadore-dior.png"); }

.banner-numero {
  background-image: url("../../img-layout/banniere-numero5-chanel.png"); }

.scent-description {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .scent-description .scent-text {
    width: 50%;
    padding: 4% 7% 0 7%; }
    @media screen and (max-width: 700px) {
      .scent-description .scent-text {
        width: 100%;
        padding: 0 7%; } }
    .scent-description .scent-text h2 {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 4%; }
      @media screen and (max-width: 700px) {
        .scent-description .scent-text h2 {
          font-size: 24px; } }
    .scent-description .scent-text p {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 6%; }
      @media screen and (max-width: 700px) {
        .scent-description .scent-text p {
          font-size: 12px;
          line-height: 18px; } }
    .scent-description .scent-text .scent-price {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 5%; }
      @media screen and (max-width: 700px) {
        .scent-description .scent-text .scent-price {
          font-size: 14px; } }
    .scent-description .scent-text a {
      color: #000;
      font-size: 18px;
      text-transform: uppercase;
      border: 1px solid #000;
      padding: 1% 3%;
      -webkit-transition: ease-in-out 0.3s;
      transition: ease-in-out 0.3s; }
    .scent-description .scent-text a:hover {
      background-color: #000;
      color: #fff;
      border: 1px solid #000;
      -webkit-transition: ease-in-out 0.3s;
      transition: ease-in-out 0.3s; }

.scent-description-right {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 700px) {
    .scent-description-right {
      width: 100%;
      padding: 7% 7%; } }
  .scent-description-right .scent-text {
    width: 50%;
    padding: 4% 7% 0 7%; }
    @media screen and (max-width: 700px) {
      .scent-description-right .scent-text {
        width: 100%;
        padding: 0 7%; } }
    .scent-description-right .scent-text h2 {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 4%; }
      @media screen and (max-width: 700px) {
        .scent-description-right .scent-text h2 {
          font-size: 24px; } }
    .scent-description-right .scent-text p {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 6%; }
      @media screen and (max-width: 700px) {
        .scent-description-right .scent-text p {
          font-size: 12px;
          line-height: 18px; } }
    .scent-description-right .scent-text .scent-price {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 5%; }
      @media screen and (max-width: 700px) {
        .scent-description-right .scent-text .scent-price {
          font-size: 14px; } }
    .scent-description-right .scent-text a {
      color: #000;
      font-size: 18px;
      text-transform: uppercase;
      border: 1px solid #000;
      padding: 1% 3%;
      -webkit-transition: ease-in-out 0.3s;
      transition: ease-in-out 0.3s; }
    .scent-description-right .scent-text a:hover {
      background-color: #000;
      color: #fff;
      border: 1px solid #000;
      -webkit-transition: ease-in-out 0.3s;
      transition: ease-in-out 0.3s; }

/***** GLOBALS *****/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", "Times", serif; }

p,
a,
span {
  font-family: "Lato", "Arial", sans-serif; }

a {
  text-decoration: none; }

li {
  list-style: none; }

/*# sourceMappingURL=screen.css.map */
