/**** VARIABLES ****/
/***** IMPORTS *****/
/********************** RESET ************************/
* {
  margin: 0;
  padding: 0; }

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/******************* CLEARFIX ************************/
.clearfix:before,
.clearfix:after {
  display: table;
  content: ' '; }

.clearfix:after {
  clear: both; }

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 222;
  background-color: #000;
  color: #fff;
  padding: 1% 0;
  font-family: "Lato", "Arial", sans-serif;
  font-weight: 300; }
  header nav {
    position: relative;
    width: 90%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media only screen and (max-width: 900px) {
      header nav {
        padding: 0 5%;
        width: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    header nav h1 {
      font-family: "Lato", "Arial", sans-serif;
      text-transform: uppercase; }
    header nav ul {
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      @media only screen and (max-width: 900px) {
        header nav ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          text-align: center;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          height: 50vh;
          width: 100%;
          display: none; } }
    header nav li {
      text-transform: uppercase;
      margin-left: 12%; }
      header nav li span {
        font-family: "Playfair Display", "Times", serif; }
    header nav a {
      color: #fff;
      font-family: "Playfair Display", "Times", serif; }
    header nav li a:after {
      content: "";
      display: block;
      border-top: 2px solid #fff;
      width: 0;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      margin-top: 4%; }
    header nav li a:hover:after {
      width: 100%;
      margin-top: 4%;
      border-top: 2px solid #fff; }
    header nav .close {
      display: none;
      position: absolute;
      top: 1%;
      right: 10.5%;
      height: 20px;
      width: auto;
      cursor: pointer; }

.burger {
  display: none;
  height: 30px;
  width: auto;
  cursor: pointer; }
  @media only screen and (max-width: 900px) {
    .burger {
      display: block; } }

.nav-extend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 5%; }

footer {
  background-image: url("../../img-layout/banniere-footer.png");
  background-size: cover;
  background-position: center;
  margin-top: 7%; }
  footer .footer-container {
    width: 90%;
    margin: 0 auto;
    color: #fff;
    padding: 9% 0 5% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 1250px) {
      footer .footer-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    footer .footer-container div {
      width: 50%; }
      @media screen and (max-width: 1250px) {
        footer .footer-container div {
          width: 100%;
          text-align: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
    footer .footer-container .contact {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      footer .footer-container .contact span {
        font-family: "Playfair Display", "Times", serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 22.5px; }
        footer .footer-container .contact span a {
          font-family: "Playfair Display", "Times", serif;
          font-size: 15px;
          font-weight: 400;
          line-height: 22.5px;
          color: #fff; }
        @media screen and (max-width: 1250px) {
          footer .footer-container .contact span {
            font-size: 12px; } }
      footer .footer-container .contact span:first-child {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 3%; }
        @media screen and (max-width: 1250px) {
          footer .footer-container .contact span:first-child {
            font-size: 17px; } }
    footer .footer-container .account-container {
      width: 70%; }
      @media screen and (max-width: 1250px) {
        footer .footer-container .account-container {
          margin: 0 auto;
          margin-bottom: 5%; } }
      footer .footer-container .account-container .account {
        width: 80%;
        margin: 0 auto; }
        footer .footer-container .account-container .account ul {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          text-align: center; }
          @media screen and (max-width: 1250px) {
            footer .footer-container .account-container .account ul {
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              margin: 7% 0; } }
          footer .footer-container .account-container .account ul li {
            width: 33.3333333%;
            text-align: center;
            font-family: "Playfair Display", "Times", serif;
            font-size: 18px;
            line-height: 27px;
            font-weight: 700; }
            @media screen and (max-width: 1250px) {
              footer .footer-container .account-container .account ul li {
                width: 100%;
                font-size: 15px; } }
            footer .footer-container .account-container .account ul li a {
              color: #fff;
              font-family: "Playfair Display", "Times", serif;
              font-size: 18px;
              line-height: 27px;
              font-weight: 700; }
      footer .footer-container .account-container .line {
        border: 1px solid #fff;
        width: 50%;
        margin: 0 auto;
        margin-top: 3.5%; }
        @media screen and (max-width: 1250px) {
          footer .footer-container .account-container .line {
            margin-top: 1%; } }
    footer .footer-container .newsletter {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      @media screen and (max-width: 1250px) {
        footer .footer-container .newsletter {
          width: 100%;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center; } }
      footer .footer-container .newsletter div {
        width: 70%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        @media screen and (max-width: 1250px) {
          footer .footer-container .newsletter div {
            width: 100%;
            text-align: center; } }
        footer .footer-container .newsletter div span {
          font-family: "Playfair Display", "Times", serif;
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 8%; }
          @media screen and (max-width: 1250px) {
            footer .footer-container .newsletter div span {
              margin-bottom: 4%;
              font-size: 15px; } }
        footer .footer-container .newsletter div form {
          width: 90%;
          background-color: transparent;
          border: 1px solid #fff;
          color: #fff;
          padding: 3.5% 2%; }
          @media screen and (max-width: 1250px) {
            footer .footer-container .newsletter div form {
              padding: 2% 1%;
              width: 70%;
              margin: 0 auto; } }
          footer .footer-container .newsletter div form input:first-child {
            width: 80%;
            padding: 2% 2%;
            border: none;
            background-color: transparent;
            color: #fff;
            outline: none; }
          footer .footer-container .newsletter div form input:last-child {
            padding: 2% 3%;
            float: right;
            background-color: transparent;
            color: #fff;
            border: none;
            cursor: pointer; }

.banner {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%; }
  @media screen and (max-width: 760px) {
    .banner {
      background-position: right; } }
  .banner .arrow {
    text-align: center;
    position: absolute;
    bottom: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation: scroll ease-in-out 2s infinite;
    animation: scroll ease-in-out 2s infinite; }
  .banner .scent-picture {
    position: fixed;
    top: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1.5% 8% 0 0; }
    @media screen and (max-width: 760px) {
      .banner .scent-picture {
        position: static;
        width: 100%;
        padding: 0 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  @media screen and (max-width: 760px) {
    .banner figure {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .banner img {
    width: 100%; }
    @media screen and (max-width: 760px) {
      .banner img {
        width: 40%; } }
  .banner .scent-picture-left {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1.5% 0 0 8%; }
    @media screen and (max-width: 760px) {
      .banner .scent-picture-left {
        position: static;
        width: 100%;
        padding: 0 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  @media screen and (max-width: 760px) {
    .banner figure {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .banner img {
    width: 100%; }
    @media screen and (max-width: 760px) {
      .banner img {
        width: 40%; } }

.banner-sauvage {
  background-image: url("../../img-layout/banniere-sauvage-dior.png"); }

.banner-bleu {
  background-image: url("../../img-layout/banniere-bleu-chanel.png"); }

.banner-jadore {
  background-image: url("../../img-layout/banniere-jadore-dior.png"); }

.banner-numero {
  background-image: url("../../img-layout/banniere-numero5-chanel.png"); }

.scent-description {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .scent-description .scent-text {
    width: 50%;
    padding: 0 7%;
    margin-top: 1.5%; }
    @media screen and (max-width: 760px) {
      .scent-description .scent-text {
        width: 100%;
        padding: 4% 7%; } }
    .scent-description .scent-text h2 {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 4%; }
      @media screen and (max-width: 760px) {
        .scent-description .scent-text h2 {
          font-size: 24px; } }
    .scent-description .scent-text p {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 6%; }
      @media screen and (max-width: 760px) {
        .scent-description .scent-text p {
          font-size: 12px;
          line-height: 18px; } }
    .scent-description .scent-text .scent-price {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 5%; }
      @media screen and (max-width: 760px) {
        .scent-description .scent-text .scent-price {
          font-size: 20px; } }
    .scent-description .scent-text a {
      color: #000;
      font-size: 18px;
      text-transform: uppercase;
      border: 1px solid #000;
      padding: 1% 3%;
      -webkit-transition: ease-in-out 0.3s;
      transition: ease-in-out 0.3s; }
    .scent-description .scent-text a:hover {
      background-color: #000;
      color: #fff;
      border: 1px solid #000;
      -webkit-transition: ease-in-out 0.3s;
      transition: ease-in-out 0.3s; }
      @media screen and (max-width: 700px) {
        .scent-description .scent-text a:hover {
          background-color: #fff;
          color: #000;
          border: 1px solid #000; } }

.scent-description-right {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 760px) {
    .scent-description-right {
      width: 100%;
      padding: 7% 7%; } }
  .scent-description-right .scent-text {
    width: 50%;
    padding: 0 7%;
    margin-top: 1.5%; }
    @media screen and (max-width: 760px) {
      .scent-description-right .scent-text {
        width: 100%;
        padding: 4% 7%; } }
    .scent-description-right .scent-text h2 {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 4%; }
      @media screen and (max-width: 760px) {
        .scent-description-right .scent-text h2 {
          font-size: 24px; } }
    .scent-description-right .scent-text p {
      font-size: 18px;
      line-height: 27px;
      margin-bottom: 6%; }
      @media screen and (max-width: 760px) {
        .scent-description-right .scent-text p {
          font-size: 12px;
          line-height: 18px; } }
    .scent-description-right .scent-text .scent-price {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 5%; }
      @media screen and (max-width: 760px) {
        .scent-description-right .scent-text .scent-price {
          font-size: 20px; } }
    .scent-description-right .scent-text a {
      color: #000;
      font-size: 18px;
      text-transform: uppercase;
      border: 1px solid #000;
      padding: 1% 3%;
      -webkit-transition: ease-in-out 0.3s;
      transition: ease-in-out 0.3s; }
    .scent-description-right .scent-text a:hover {
      background-color: #000;
      color: #fff;
      border: 1px solid #000;
      -webkit-transition: ease-in-out 0.3s;
      transition: ease-in-out 0.3s; }
      @media screen and (max-width: 760px) {
        .scent-description-right .scent-text a:hover {
          background-color: #fff;
          color: #000;
          border: 1px solid #000; } }

.products {
  width: 80%;
  margin: 0 auto; }
  @media screen and (max-width: 600px) {
    .products {
      width: 70%; } }
  .products h2 {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase; }
    @media screen and (max-width: 1100px) {
      .products h2 {
        font-size: 33px;
        margin-top: 13%; } }
    @media screen and (max-width: 760px) {
      .products h2 {
        font-size: 23px;
        margin-top: 25%; } }
  .products section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-top: 7%; }
    @media screen and (max-width: 600px) {
      .products section {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .products section h3 {
      width: 100%;
      text-align: center;
      margin-bottom: 7%;
      font-size: 30px;
      font-weight: 500; }
      @media screen and (max-width: 760px) {
        .products section h3 {
          font-size: 20px;
          margin-top: 5%; } }
    .products section a {
      background-color: black;
      width: 22%;
      padding: 5% 5% 0 5%;
      margin-bottom: 7%;
      background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(white));
      background-image: linear-gradient(black, white);
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      text-align: center; }
      @media screen and (max-width: 1605px) {
        .products section a {
          width: 30%; } }
      @media screen and (max-width: 900px) {
        .products section a {
          width: 45%; } }
      @media screen and (max-width: 700px) {
        .products section a {
          width: 100%;
          margin-bottom: 10%;
          padding: 5% 25% 0 25%; } }
      .products section a figure {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end; }
      .products section a img {
        width: 100%; }
      .products section a h4 {
        font-size: 26px; }
        @media screen and (max-width: 760px) {
          .products section a h4 {
            font-size: 18px; } }
      .products section a span {
        font-size: 16px;
        font-family: "Playfair Display", "Times", serif; }
        @media screen and (max-width: 760px) {
          .products section a span {
            font-size: 14px; } }

.joy-pro {
  padding-top: 95%; }

.guerlain-pro {
  padding-top: 55%; }

.ysl {
  padding-top: 45%; }

.robe {
  padding-top: 55%; }

.vie {
  padding-top: 50%;
  padding-left: 5%; }

/* .jadore {*/
/*   padding: 20% 20%;*/
/* }*/
/***** GLOBALS *****/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", "Times", serif; }

p,
a,
span {
  font-family: "Lato", "Arial", sans-serif; }

a {
  text-decoration: none; }

li {
  list-style: none; }

.index-container {
  width: 85%;
  margin: 0 auto; }

.banner-index {
  position: relative;
  background-image: url("../../img-layout/banniere-index.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 3%; }
  @media screen and (max-width: 760px) {
    .banner-index {
      margin-bottom: 5%; } }
  .banner-index h2 {
    padding-right: 5%;
    font-size: 36px;
    font-weight: 500;
    color: #fff; }
    @media screen and (max-width: 1100px) {
      .banner-index h2 {
        font-size: 25px; } }
    @media screen and (max-width: 760px) {
      .banner-index h2 {
        font-size: 18px;
        padding-left: 35%; } }
  .banner-index div {
    text-align: center;
    position: absolute;
    bottom: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation: scroll ease-in-out 2s infinite;
    animation: scroll ease-in-out 2s infinite; }

@-webkit-keyframes scroll {
  0% {
    opacity: 0;
    bottom: 15%; }
  50% {
    opacity: 0.5; }
  100% {
    bottom: 8%;
    opacity: 1; } }
@keyframes scroll {
  0% {
    opacity: 0;
    bottom: 15%; }
  50% {
    opacity: 1; }
  100% {
    bottom: 8%;
    opacity: 0.5; } }
.scent-list {
  width: 60%;
  margin: 0 auto;
  padding-top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }
  @media screen and (max-width: 1250px) {
    .scent-list {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 760px) {
    .scent-list {
      margin-bottom: 5%; } }
  .scent-list h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 12%; }
    @media screen and (max-width: 760px) {
      .scent-list h3 {
        font-size: 20px;
        margin-top: 5%; } }
  .scent-list .picture {
    position: relative;
    width: 25%;
    text-align: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(white));
    background-image: linear-gradient(black, white);
    margin-bottom: 5%;
    padding: 5% 3% 0 3%; }
    .scent-list .picture:hover img {
      -webkit-transition: ease-in-out 0.5s;
      transition: ease-in-out 0.5s; }
    .scent-list .picture:hover h4 {
      opacity: 0;
      -webkit-transition: ease-in-out 0.5s;
      transition: ease-in-out 0.5s; }
    .scent-list .picture:hover .brand {
      opacity: 0;
      -webkit-transition: ease-in-out 0.5s;
      transition: ease-in-out 0.5s; }
    .scent-list .picture:hover .details {
      opacity: 1;
      -webkit-transition: ease-in-out 0.5s;
      transition: ease-in-out 0.5s; }
    @media screen and (max-width: 1250px) {
      .scent-list .picture {
        width: 45%;
        margin: 0 2.5%;
        margin-bottom: 7%; } }
    @media screen and (max-width: 760px) {
      .scent-list .picture {
        width: 100%;
        margin: 10% 0; } }
    .scent-list .picture div h4,
    .scent-list .picture div span {
      text-transform: uppercase;
      color: #fff;
      font-family: "Playfair Display", "Times", serif;
      -webkit-transition: ease-in-out 0.2s;
      transition: ease-in-out 0.2s; }
    .scent-list .picture div h4 {
      font-size: 26px;
      -webkit-transition: ease-in-out 0.7s;
      transition: ease-in-out 0.7s; }
      @media screen and (max-width: 760px) {
        .scent-list .picture div h4 {
          font-size: 18px; } }
    .scent-list .picture div span {
      font-size: 16px;
      -webkit-transition: ease-in-out 0.7s;
      transition: ease-in-out 0.7s; }
      @media screen and (max-width: 760px) {
        .scent-list .picture div span {
          font-size: 14px; } }
    .scent-list .picture div figure {
      width: 70%;
      margin: 0 auto; }
      .scent-list .picture div figure img {
        width: 100%;
        margin-top: 15%;
        -webkit-transition: ease-in-out 0.2s;
        transition: ease-in-out 0.2s; }
    .scent-list .picture .details {
      background: rgba(0, 0, 0, 0.41);
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.41)), color-stop(0%, rgba(231, 56, 39, 0.41)), color-stop(0%, rgba(0, 0, 0, 0.41)), color-stop(51%, rgba(0, 0, 0, 0.59)), color-stop(100%, rgba(0, 0, 0, 0.76)));
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.41)), color-stop(0%, rgba(231, 56, 39, 0.41)), color-stop(0%, rgba(0, 0, 0, 0.41)), color-stop(51%, rgba(0, 0, 0, 0.59)), to(rgba(0, 0, 0, 0.76)));
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.41) 0%, rgba(231, 56, 39, 0.41) 0%, rgba(0, 0, 0, 0.41) 0%, rgba(0, 0, 0, 0.59) 51%, rgba(0, 0, 0, 0.76) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      opacity: 0;
      -webkit-transition: ease-in-out 0.5s;
      transition: ease-in-out 0.5s; }
      .scent-list .picture .details span {
        width: 100%;
        font-family: "Lato", "Arial", sans-serif;
        font-size: 13px;
        padding: 0 2%;
        text-transform: inherit; }

.guerlain {
  padding-top: 20%; }

.joy {
  padding-top: 60%; }

.chanel {
  padding-top: 10%; }

.bleu {
  padding-top: 45%; }

.invictus {
  padding-top: 18%; }

#sauvage {
  padding-top: 17%;
  width: 75%; }

.scent-pack {
  width: 85%;
  margin: 0 auto;
  padding-top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media screen and (max-width: 950px) {
    .scent-pack {
      width: 60%; } }
  .scent-pack h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 8%; }
    @media screen and (max-width: 950px) {
      .scent-pack h3 {
        margin-top: 5%;
        margin-bottom: 12%; } }
    @media screen and (max-width: 760px) {
      .scent-pack h3 {
        font-size: 20px; } }
  .scent-pack .pack {
    width: 40%;
    margin-bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media screen and (max-width: 950px) {
      .scent-pack .pack {
        width: 100%; } }
    .scent-pack .pack img {
      width: 100%;
      margin-bottom: 7%; }
      @media screen and (max-width: 950px) {
        .scent-pack .pack img {
          margin-bottom: 5%; } }
    .scent-pack .pack span {
      color: #000;
      font-family: "Playfair Display", "Times", serif;
      font-size: 27px;
      font-weight: 300; }
      @media screen and (max-width: 950px) {
        .scent-pack .pack span {
          margin-bottom: 30%; } }
      @media screen and (max-width: 760px) {
        .scent-pack .pack span {
          font-size: 15px; } }

@media screen and (max-width: 950px) {
  .pack-two {
    margin-top: 15%; } }

.discover {
  text-align: center;
  margin: 5% 0; }
  .discover a {
    color: #000;
    font-family: "Playfair Display", "Times", serif;
    font-size: 15px;
    border: 1px solid #000;
    padding: 1.5% 3%;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s; }
    .discover a:hover {
      background-color: #000;
      color: #fff;
      border: 1px solid #000;
      -webkit-transition: ease-in-out 0.5s;
      transition: ease-in-out 0.5s; }

/*# sourceMappingURL=screen.css.map */
