footer {
  background-image: url('../../img-layout/banniere-footer.png');
  background-size: cover;
  background-position: center;
  margin-top: 7%;
  .footer-container {
    width: 90%;
    margin: 0 auto;
    color: $white;
    padding: 9% 0 5% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    @media screen and (max-width: 1250px) {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
    }
    div {
      width: 50%;
      @media screen and (max-width: 1250px) {
        width: 100%;
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
      }
    }
    .contact {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      span {
        font-family: $ft-title;
        font-size: 15px;
        font-weight: 400;
        line-height: 22.5px;
        a {
          font-family: $ft-title;
          font-size: 15px;
          font-weight: 400;
          line-height: 22.5px;
          color: $white;
        }
        @media screen and (max-width: 1250px) {
          font-size: 12px;
        }
      }
      span:first-child {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 3%;
        @media screen and (max-width: 1250px) {
          font-size: 17px;
        }
      }
    }
    .account-container {
      width: 70%;
      @media screen and (max-width: 1250px) {
        margin: 0 auto;
        margin-bottom: 5%;
      }
      .sitemap {
        width: 80%;
        margin: 0 auto;
        ul {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          text-align: center;
          @media screen and (max-width: 1250px) {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            margin: 7% 0;
          }
          li {
            width: 33.3333333%;
            text-align: center;
            font-family: $ft-title;
            font-size: 18px;
            line-height: 27px;
            font-weight: 700;
            @media screen and (max-width: 1250px) {
              width: 100%;
              font-size: 15px;
            }
            a {
              color: $white;
              font-family: $ft-title;
              font-size: 18px;
              line-height: 27px;
              font-weight: 700;
            }
          }
        }
      }
      .line {
        border: 1px solid $white;
        width: 50%;
        margin: 0 auto;
        margin-top: 3.5%;
        @media screen and (max-width: 1250px) {
          margin-top: 1%;
        }
      }
    }
    .newsletter {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      @media screen and (max-width: 1250px) {
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
      div {
        width: 70%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        @media screen and (max-width: 1250px) {
          width: 100%;
          text-align: center;
        }
        span {
          font-family: $ft-title;
          font-size: 20px;
          font-weight: 700;
          margin-bottom: 8%;
          @media screen and (max-width: 1250px) {
            margin-bottom: 4%;
            font-size: 15px;
          }
        }
        form {
          width: 90%;
          background-color: rgba(0, 0, 0, 0);
          border: 1px solid $white;
          color: $white;
          padding: 3.5% 2%;
          @media screen and (max-width: 1250px) {
            padding: 2% 1%;
            width: 70%;
            margin: 0 auto;
          }
          input:first-child {
            width: 80%;
            padding: 2% 2%;
            border: none;
            background-color: rgba(0,0,0,0);
            color: $white;
            outline: none;
          }
          input:last-child {
            padding: 2% 3%;
            float: right;
            background-color: rgba(0, 0, 0, 0);
            color: $white;
            border: none;
            cursor: pointer;
          }
        }
      }
    }
  }
}
