/* HEADER*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 222;
  background-color: $black;
  color: $white;
  font-family: $ft-content;
  font-weight: 300;

  /* BARRE DE NAVIGATION*/
  nav {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @media only screen and (max-width: 900px) {
      padding: 0 5%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }

    h1 {
      img {
        height: 80px;
        width: 80px;
      }
    }

    ul {
      display: none;
      height: 100%;
      width: 100%;
      @media only screen and (min-width: 900px) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
      }
    }

    /* LIENS DE NAVIGATION*/
    li {
      text-transform: uppercase;
      margin-left: 0;
      height: 100%;
      padding: 1% 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      @media only screen and (min-width: 900px) {
        margin-left: 9%;
      }

      span {
        font-family: $ft-title;
      }

      img {
        width: 70%;
        cursor: pointer;
      }
    }

    a {
      color: #fff;
      font-family: $ft-title;
    }

    /* COMPTEUR DE NOMBRE D'ITEMS DANS LE PANIER*/
    #count {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: absolute;
      bottom: 45%;
      left: 105%;
      width: 23px;
      height: 23px;
      padding: 1% 8%;
      border-radius: 100%;
      background-color: $white;
      color: $black;
    }

    /* PANIER AU HOVER*/
    .basket-details {
      top: 98%;
      left: 84%;
      width: 21%;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.95);
      color: $black;
      border: 1px solid #fff;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      display: none;
      opacity: 0;
      @media only screen and (max-width: 1050px) {
        visibility: hidden;
      }

      .basket-product {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid $white;
        padding: 10% 2%;

        figure {
          width: 30%;
          padding: 0 2%;
          float: left;

          img {
            width: 100%;
            padding-right: 10%;
          }
        }

        .cross {
          cursor: pointer;
        }

        .details {
          width: 60%;
          color: $white;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          float: right;
          font-size: 14px;
          line-height: 22.5px;
          span:first-child {
            font-weight: 700;
            font-size: 15px;
          }
        }
      }

      .pay {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        margin: 3% 0;

        span {
          color: $white;
        }

        a {
          color: $black;
          font-size: 20px;
          font-family: $ft-content;
          text-transform: uppercase;
          background-color: $white;
          padding: 1.5% 3%;
          margin: 3% 20%;
          border: 1px solid $black;
          -webkit-transition: ease-in-out 0.5s;
          transition: ease-in-out 0.5s;
          &:hover {
            background-color: $black;
            color: $white;
            border: 1px solid $white;
            -webkit-transition: ease-in-out 0.5s;
            transition: ease-in-out 0.5s;
          }
        }
      }
    }
    li a:after {
      content: "";
      display: block;
      border-top: 2px solid #fff;
      width:0;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      margin-top: 4%;
    }
    li a:hover:after {
      width: 100%;
      margin-top: 4%;
      border-top: 2px solid #fff;
    }
    li:first-child a:hover:after {
      width: 0;
    }
    li:last-child {
      position: relative;
    }

    .close {
      display: none;
      position: absolute;
      top: 1%;
      right: 10.5%;
      height: 20px;
      width: auto;
      cursor: pointer;
    }
  }
}

/* BURGER MENU*/
.burger {
  display: block;
  height: 30px;
  width: auto;
  cursor: pointer;
  @media only screen and (min-width: 900px) {
    display: none;
  }
}

/* MENU AU CLIC SUR BURGER*/
.nav-extend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 5%;
}

/* RETOUR AU MENU ORIGINEL LORS FERMETURE BURGER*/
.reset-nav {
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* EFFET APPARITION NAV AU CLIC SUR BURGER*/
.appear {
  -webkit-animation: appearance ease-in-out 1s;
  animation: appearance ease-in-out 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  height: 50vh;
  width: 100%;
  z-index: 1000;
}

/* WEBKIT APPARITION NAV*/
@-webkit-keyframes appearance {
  0% {
    opacity: 0;
    margin-bottom: 80%;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
    margin-bottom: 80%;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

/* FORMULAIRE DE RECHERCHE*/
.search {
  color: $black;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 222;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $black;
  display: none;
  opacity: 0;
  /* -webkit-animation: search ease-in-out 2s;*/
  /* animation: search ease-in-out 2s;*/

  img {
    cursor: pointer;
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
  }
  img:hover {
    -webkit-transform: rotate(-89deg);
    transform: rotate(-89deg);
    -webkit-transition: ease-in-out 0.2s;
    transition: ease-in-out 0.2s;
  }
  form {
    width: 100%;
    text-align: center;
    input {
      width: 50%;
      text-align: center;
      outline: none;
      font-family: $ft-title;
      font-size: 15px;
      @media only screen and (min-width: 800px) {
        font-size: 20px;
        @media only screen and (min-width: 1100px) {
          font-size: 50px;
        }
      }
      &:focus {
        &::-webkit-input-placeholder {
          color: transparent;
        }
        &:-ms-input-placeholder {
          color: transparent;
        }
        &::placeholder {
          color: transparent;
        }
      }
    }
  }
}

/* @-webkit-keyframes search {*/
/*   0% {*/
/*     -webkit-transform: scale(0.5);*/
/*     transform: scale(0.5);*/
/*     opacity: 0;*/
/*   }*/
/*   50% {*/
/*     opacity: 0.5;*/
/*   }*/
/*   100% {*/
/*     -webkit-transform: scale(1);*/
/*     transform: scale(1);*/
/*     opacity: 1;*/
/*   }*/
/* }*/
/**/
/* @keyframes search {*/
/*   0% {*/
/*     -webkit-transform: scale(0.5);*/
/*     transform: scale(0.5);*/
/*     opacity: 0;*/
/*   }*/
/*   50% {*/
/*     opacity: 0.5;*/
/*   }*/
/*   100% {*/
/*     -webkit-transform: scale(1);*/
/*     transform: scale(1);*/
/*     opacity: 1;*/
/*   }*/
/* }*/
