header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 222;
  background-color: $black;
  color: $white;
  font-family: $ft-content;
  font-weight: 300;
  nav {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @media only screen and (max-width: 900px) {
      padding: 0 5%;
      width: 90%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
    }
    h1 {
      font-family: $ft-content;
      text-transform: uppercase;
    }
    ul {
      height: 100%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      @media only screen and (max-width: 900px) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 50vh;
        width: 100%;
        display: none;
      }
    }
    li {
      text-transform: uppercase;
      margin-left: 12%;
      height: 100%;
      padding: 1% 0;
      span {
        font-family: $ft-title;
      }
    }
    a {
      color: #fff;
      font-family: $ft-title;
    }
    #count {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      position: absolute;
      bottom: 45%;
      left: 105%;
      width: 23px;
      height: 23px;
      padding: 1% 8%;
      border-radius: 100%;
      background-color: $white;
      color: $black;
    }
    .basket-details {
      top: 100%;
      left: 84%;
      width: 21%;
      position: absolute;
      background-color: $black;
      color: $black;
      border: 1px solid #fff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      display: none;
      opacity: 0;
      .basket-product {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid $white;
        padding: 10% 2%;
        figure {
          width: 30%;
          padding: 0 2%;
          float: left;
          img {
            width: 100%;
          }
        }
        .details {
          width: 70%;
          color: $white;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          float: right;
          font-size: 14px;
          line-height: 22.5px;
          span:first-child {
            font-weight: 700;
            font-size: 15px;
          }
        }
      }
      .pay {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
        margin: 3% 0;
        span {
          color: $white;
        }
        a {
          color: $black;
          font-size: 20px;
          font-family: $ft-content;
          text-transform: uppercase;
          background-color: $white;
          padding: 1.5% 3%;
          margin: 3% 20%;
          border: 1px solid $black;
          -webkit-transition: ease-in-out 0.5s;
          transition: ease-in-out 0.5s;
          &:hover {
            background-color: $black;
            color: $white;
            border: 1px solid $white;
            -webkit-transition: ease-in-out 0.5s;
            transition: ease-in-out 0.5s;
          }
        }
      }
    }
    li a:after {
      content: "";
      display: block;
      border-top: 2px solid #fff;
      width:0;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      margin-top: 4%;
    }
    li a:hover:after {
      width: 100%;
      margin-top: 4%;
      border-top: 2px solid #fff;
    }
    li:last-child {
      position: relative;
    }
    .close {
      display: none;
      position: absolute;
      top: 1%;
      right: 10.5%;
      height: 20px;
      width: auto;
      cursor: pointer;
    }
  }
}

.burger {
  display: none;
  height: 30px;
  width: auto;
  cursor: pointer;
  @media only screen and (max-width: 900px) {
    display: block;
  }
}

.nav-extend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  padding: 0 5%;
}

.appear {
  -webkit-animation: appearance ease-in-out 1s;
  animation: appearance ease-in-out 1s;
}

@-webkit-keyframes appearance {
  0% {
    opacity: 0;
    margin-bottom: 80%;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
    margin-bottom: 80%;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    margin-bottom: 0;
  }
}
