.banner {
  position: relative;
  background-size: cover;
  background-position: right;
  height: 100vh;
  width: 100%;
  @media screen and (min-width: 760px) {
    background-position: center;
  }
  .arrow {
    text-align: center;
    position: absolute;
    bottom: 15%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation: scroll ease-in-out 2s infinite;
    animation: scroll ease-in-out 2s infinite;
  }
  .scent-picture {
    top: 0;
    right: 0;
    height: 100vh;
    position: static;
    width: 100%;
    padding: 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @media screen and (min-width: 760px) {
      position: fixed;
      width: 50%;
      padding: 1.5% 8% 0 0;
    }
  }
  figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  img {
    width: 40%;
    @media screen and (min-width: 760px) {
      width: 100%;
    }
  }
  .scent-picture-left {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 0;
    @media screen and (min-width: 760px) {
      position: fixed;
      width: 50%;
      padding: 1.5% 0 0 8%;
    }
  }
  figure {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
  }
  img {
    width: 40%;
    @media screen and (min-width: 760px) {
      width: 100%;
    }
  }
}

.banner-sauvage {
  background-image: url('../../img-layout/banniere-sauvage-dior.png');
}

.banner-bleu {
  background-image: url('../../img-layout/banniere-bleu-chanel.png');
}

.banner-jadore {
  background-image: url('../../img-layout/banniere-jadore-dior.png');

}

.banner-numero {
  background-image: url('../../img-layout/banniere-numero5-chanel.png');
}

.scent-description {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  .scent-text {
    width: 100%;
    padding: 4% 7%;
    margin-top: 1.5%;
    @media screen and (min-width: 760px) {
      width: 50%;
      padding: 0 7%;
    }
    h2 {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 4%;
      @media screen and (min-width: 760px) {
        font-size: 30px;
      }
    }
    p {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 6%;
      @media screen and (min-width: 760px) {
        font-size: 15px;
        line-height: 22px;
      }
      @media screen and (min-width: 1000px) {
        font-size: 18px;
        line-height: 27px;
      }
    }
    .scent-price {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 5%;
      @media screen and (min-width: 760px) {
        font-size: 24px;
      }
    }
    a {
      color: $black;
      font-size: 18px;
      text-transform: uppercase;
      border: 1px solid $black;
      padding: 1% 3%;
      -webkit-transition: ease-in-out 0.3s;
      transition: ease-in-out 0.3s;
    }
    a:hover {
      background-color: $white;
      color: $black;
      border: 1px solid $black;
      -webkit-transition: ease-in-out 0.3s;
      transition: ease-in-out 0.3s;
      @media screen and (min-width: 700px) {
        background-color: $black;
        color: $white;
        border: 1px solid $black;
      }
    }
  }
}

.scent-description-right {
  height: 100vh;
  width: 100%;
  padding: 7% 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  @media screen and (min-width: 760px) {
    padding: 0 0;
  }
  .scent-text {
    width: 100%;
    padding: 4% 7%;
    margin-top: 1.5%;
    @media screen and (min-width: 760px) {
      width: 50%;
      padding: 0 7%;
    }
    h2 {
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 300;
      margin-bottom: 4%;
      @media screen and (min-width: 760px) {
        font-size: 30px;
      }
    }
    p {
      font-size: 12px;
      line-height: 18px;
      margin-bottom: 6%;
      @media screen and (min-width: 760px) {
        font-size: 15px;
        line-height: 22px;
      }
      @media screen and (min-width: 1000px) {
        font-size: 18px;
        line-height: 27px;
      }
    }
    .scent-price {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 5%;
      @media screen and (min-width: 760px) {
        font-size: 24px;
      }
    }
    a {
      color: $black;
      font-size: 18px;
      text-transform: uppercase;
      border: 1px solid $black;
      padding: 1% 3%;
      -webkit-transition: ease-in-out 0.3s;
      transition: ease-in-out 0.3s;
    }
    a:hover {
      background-color: $white;
      color: $black;
      border: 1px solid $black;
      -webkit-transition: ease-in-out 0.3s;
      transition: ease-in-out 0.3s;
      @media screen and (min-width: 760px) {
        background-color: $black;
        color: $white;
        border: 1px solid $black;
      }
    }
  }
}
form {
  margin-top: 2%;
  margin-bottom: 2%;
  label {
    text-transform: capitalize;
    font-size: 15px;
  }
}
.contain {
  font-size: 14px;
}
.quantity  {
  padding: 1% 1%;
}
