@charset "UTF-8";

/**** VARIABLES ****/

$black : #000;
$white: #fff;
$ft-title : 'Playfair Display', 'Times', serif;
$ft-content : 'Lato', 'Arial', sans-serif;

/***** IMPORTS *****/

@import 'partials/reset';
@import 'partials/clearfix';
@import 'partials/header';
@import 'partials/footer';
@import 'partials/scent-details';


/***** GLOBALS *****/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $ft-title;
}

p,
a,
span {
  font-family: $ft-content;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.index-container {
  width: 85%;
  margin: 0 auto;
}

.banner-index {
  background-image: url('../../img-layout/banniere-index.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-bottom: 3%;
  @media screen and (max-width: 760px) {
    margin-bottom: 5%;
  }
  h2 {
    padding-right: 5%;
    font-size: 36px;
    font-weight: 500;
    color: $white;
    @media screen and (max-width: 1100px) {
      font-size: 25px;
    }
    @media screen and (max-width: 760px) {
      font-size: 18px;
      padding-left: 35%;
    }
  }
}

.scent-list {
  width: 60%;
  margin: 0 auto;
  padding-top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  @media screen and (max-width: 1250px) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  @media screen and (max-width: 760px) {
    margin-bottom: 5%;
  }
  h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 12%;
    @media screen and (max-width: 760px) {
      font-size: 20px;
      margin-top: 5%;
    }
  }
  a {
    width: 25%;
    text-align: center;
    background-image:-webkit-gradient(linear, left top, left bottom, from(black), to(white));
    background-image:linear-gradient(black, white);
    margin-bottom: 5%;
    padding: 5% 3% 0 3%;
    @media screen and (max-width: 1250px) {
      width: 45%;
      margin: 0 2.5%;
      margin-bottom: 7%;
    }
    @media screen and (max-width: 760px) {
      width: 100%;
      margin: 10% 0;
    }
    div {

      h4,
      span {
        text-transform: uppercase;
        color: $white;
        font-family: $ft-title;
      }
      h4 {
        font-size: 26px;
        @media screen and (max-width: 760px) {
          font-size: 18px;
        }
      }
      span {
        font-size: 16px;
        @media screen and (max-width: 760px) {
          font-size: 14px;
        }
      }
      figure{
        width: 70%;
        margin: 0 auto;
        img {
          width: 100%;
          margin-top: 15%;
          position: relative;
        }
      }
    }
  }
}

.guerlain  {
  padding-top: 20%;
}
.joy {
  padding-top: 60%;
}
.chanel {
  padding-top: 10%;
}
.bleu {
  padding-top: 45%;
}
.invictus {
  padding-top: 18%;
}
#sauvage {
  padding-top: 17%;
  width: 75%;
}

.scent-pack {
  width: 85%;
  margin: 0 auto;
  padding-top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  @media screen and (max-width: 950px) {
    width: 60%;
  }
  h3 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 8%;
    @media screen and (max-width: 950px) {
      margin-top: 5%;
      margin-bottom: 12%;
    }
    @media screen and (max-width: 760px) {
      font-size: 20px;
    }
  }
  a {
    width: 40%;
    margin-bottom: 5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    text-align: center;
    @media screen and (max-width: 950px) {
      width: 100%;
    }
    img {
      width: 100%;
      margin-bottom: 7%;
      @media screen and (max-width: 950px) {
        margin-bottom: 5%;
      }
    }
    span {
      color: $black;
      font-family: $ft-title;
      font-size: 27px;
      font-weight: 300;
      @media screen and (max-width: 950px) {
        margin-bottom: 30%;
      }
      @media screen and (max-width: 760px) {
        font-size: 15px;
      }
    }
  }
}
.pack-two {
  @media screen and (max-width: 950px) {
    margin-top: 15%;
  }
}
